/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
// Should be before including header for pointing 

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1100  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 30    // default: 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt { flavor = "tap-preferred"; };

/ {
    combos {
        compatible = "zmk,combos";

        caps_lock {
            bindings = <&kp CAPSLOCK>;
            key-positions = <17 18>;
            layers = <0>;
        };

        escape {
            bindings = <&kp ESCAPE>;
            key-positions = <19 20>;
            layers = <0>;
            timeout-ms = <220>;
        };
    };

    behaviors {
        hm: hm {
            compatible = "zmk,behavior-hold-tap";
            label = "HM";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            quick-tap-ms = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default {
            bindings = <
&none  &kp Q           &kp W               &kp E           &kp R  &kp T        &kp Y      &kp U            &kp I           &kp O               &kp P              &none
&none  &hm LEFT_GUI A  &hm LEFT_CONTROL S  &hm LEFT_ALT D  &kp F  &kp G        &kp H      &kp J            &hm LEFT_ALT K  &hm LEFT_CONTROL L  &hm LEFT_GUI SEMI  &none
&none  &kp Z           &kp X               &kp C           &kp V  &kp B        &kp N      &kp M            &kp COMMA       &kp DOT             &kp FSLH           &none
                                           &kp LEFT_SHIFT  &mo 1  &kp ENTER    &kp SPACE  &lt 2 BACKSPACE  &kp ESCAPE
            >;
        };

        symbols {
            bindings = <
&trans  &kp EXCLAMATION  &kp AT_SIGN           &kp HASH  &kp DOLLAR  &kp PERCENT       &kp CARET  &kp AMPERSAND  &kp ASTERISK       &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans
&trans  &kp LESS_THAN    &kp GREATER_THAN      &trans    &kp MINUS   &kp UNDERSCORE    &kp PLUS   &kp EQUAL      &kp DOUBLE_QUOTES  &kp LEFT_BRACE        &kp RIGHT_BRACE        &trans
&trans  &kp PIPE         &kp NON_US_BACKSLASH  &trans    &trans      &trans            &kp GRAVE  &kp TILDE      &kp SQT            &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &trans
                                               &trans    &trans      &trans            &trans     &trans         &trans
            >;
        };

        numbers {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
